$yellow: #f9ca24;
$darkblue: #30336b;
$red: rgb(207, 20, 20);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $darkblue;
    color: $yellow;
}

.top-bar {
    width: 100%;
    height: 90px;
    background-color: #181a3698;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 60%;
    margin: 50px auto;
    //background-color: red;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__message {
        margin-bottom: 40px;
        font-size: 22px;
    }

    &__word {
        font-weight: 300;
        font-size: 64px;
        margin-bottom: 25px;
    }

    &__input {
        width: 70%;
        border-radius: 5px;
        height: 35px;
        outline: none;
        border: 1px solid $yellow;
        font-family: inherit;
        font-size: 24px;
        padding: 3px;
        margin-bottom: 20px;
    }

    &__finish {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 30px;

        & > * {
            font-size: 30px;
        }
    }

    &__instructions {
        width: 70%;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        & > * {
            text-align: center;
        }
    }
}